In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("data8"))

['data.csv']

In [2]:
data = pd.read_csv('data8/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
display(data.loc[data.budget.idxmax()])
answer_ls.append(4)

imdb_id                                                         tt1032751
popularity                                                        0.25054
budget                                                          425000000
revenue                                                          11087569
original_title                                          The Warrior's Way
cast                    Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...
director                                                       Sngmoo Lee
tagline                                           Assassin. Hero. Legend.
overview                An Asian assassin (Dong-gun Jang) is forced to...
runtime                                                               100
genres                          Adventure|Fantasy|Action|Western|Thriller
production_companies                             Boram Entertainment Inc.
release_date                                                    12/2/2010
vote_count                                                             74
vote_average                                                          6.4
release_year                                                         2010
Name: 491, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
display(data.loc[data.runtime.idxmax()])
answer_ls.append(2)

imdb_id                                                         tt0279111
popularity                                                       0.469518
budget                                                           56000000
revenue                                                          12923936
original_title                                          Gods and Generals
cast                    Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...
director                                                Ronald F. Maxwell
tagline                               The nations heart was touched by...
overview                The film centers mostly around the personal an...
runtime                                                               214
genres                                                  Drama|History|War
production_companies                   Turner Pictures|Antietam Filmworks
release_date                                                    2/21/2003
vote_count                                                             23
vote_average                                                          5.8
release_year                                                         2003
Name: 1158, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
display(data.loc[data.runtime.idxmin()])
answer_ls.append(3)

imdb_id                                                         tt1449283
popularity                                                        1.42534
budget                                                           30000000
revenue                                                          14460000
original_title                                            Winnie the Pooh
cast                    Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...
director                                        Stephen Anderson|Don Hall
tagline                                                          Oh Pooh.
overview                During an ordinary day in Hundred Acre Wood, W...
runtime                                                                63
genres                                                   Animation|Family
production_companies    Walt Disney Pictures|Walt Disney Animation Stu...
release_date                                                    4/13/2011
vote_count                                                            174
vote_average                                                          6.8
release_year                                                         2011
Name: 769, dtype: object

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
display(data.runtime.describe())
answer_ls.append(2)

count    1890.000000
mean      109.653439
std        18.013641
min        63.000000
25%        97.000000
50%       106.500000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
display(data.runtime.median())
answer_ls.append(1)

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
display(data.loc[data.revenue.idxmax()])
answer_ls.append(5)

imdb_id                                                         tt0499549
popularity                                                        9.43277
budget                                                          237000000
revenue                                                        2781505847
original_title                                                     Avatar
cast                    Sam Worthington|Zoe Saldana|Sigourney Weaver|S...
director                                                    James Cameron
tagline                                       Enter the World of Pandora.
overview                In the 22nd century, a paraplegic Marine is di...
runtime                                                               162
genres                           Action|Adventure|Fantasy|Science Fiction
production_companies    Ingenious Film Partners|Twentieth Century Fox ...
release_date                                                   12/10/2009
vote_count                                                           8458
vote_average                                                          7.1
release_year                                                         2009
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
data['profit'] = data.revenue - data.budget
display(data.iloc[data.profit.idxmin()])
answer_ls.append(2)

imdb_id                                                         tt1032751
popularity                                                        0.25054
budget                                                          425000000
revenue                                                          11087569
original_title                                          The Warrior's Way
cast                    Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...
director                                                       Sngmoo Lee
tagline                                           Assassin. Hero. Legend.
overview                An Asian assassin (Dong-gun Jang) is forced to...
runtime                                                               100
genres                          Adventure|Fantasy|Action|Western|Thriller
production_companies                             Boram Entertainment Inc.
release_date                                                    12/2/2010
vote_count                                                             74
vote_average                                                          6.4
release_year                                                         2010
profit                                                         -413912431
Name: 491, dtype: object

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
display(len(data[data.profit > 0]))
answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
data_2008 = data[data.release_year == 2008]
display(data_2008.loc[data_2008.profit.idxmax()])
answer_ls.append(4)

imdb_id                                                         tt0468569
popularity                                                        8.46667
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_count                                                           8432
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
Name: 600, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [14]:
data_2012_2014 = data.loc[data.release_year.between(2012, 2014, inclusive=True)]
display(data_2012_2014.loc[data_2012_2014.profit.idxmin()])
answer_ls.append(5)

imdb_id                                                         tt1210819
popularity                                                        1.21451
budget                                                          255000000
revenue                                                          89289910
original_title                                            The Lone Ranger
cast                    Johnny Depp|Armie Hammer|William Fichtner|Hele...
director                                                   Gore Verbinski
tagline                                           Never Take Off the Mask
overview                The Texas Rangers chase down a gang of outlaws...
runtime                                                               149
genres                                           Action|Adventure|Western
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|I...
release_date                                                     7/3/2013
vote_count                                                           1607
vote_average                                                            6
release_year                                                         2013
profit                                                         -165710090
Name: 1246, dtype: object

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
genres = np.concatenate(data.genres.str.split("|"))
display(Counter(genres).most_common())
answer_ls.append(3)

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 597),
 ('Action', 583),
 ('Adventure', 416),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 223),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 20),
 ('Documentary', 8),
 ('Foreign', 2)]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Action
2. Comedy
3. Drama
4. Thriller
5. Adventure

In [16]:
display(pd.DataFrame(data[data.profit > 0].genres.str.split('|').tolist()).stack().value_counts())
answer_ls.append(3)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
display(pd.DataFrame(data.director.str.split('|').tolist()).stack().value_counts())
answer_ls.append(3)

Steven Soderbergh    13
Clint Eastwood       12
Ridley Scott         12
Robert Rodriguez     11
Shawn Levy           10
                     ..
Klay Hall             1
Eric Bress            1
Dan Bradley           1
Robert Stromberg      1
Aleksander Bach       1
Length: 998, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
display(pd.DataFrame(data[data.profit > 0].director.str.split('|').tolist()).stack().value_counts())
answer_ls.append(4)

Ridley Scott         12
Clint Eastwood       10
Steven Spielberg     10
Steven Soderbergh    10
Shawn Levy            9
                     ..
Andrew Erwin          1
Phil Joanou           1
Chris Rock            1
Eric Leighton         1
Jane Lipsitz          1
Length: 814, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
directors_df = pd.DataFrame(data.director.str.split('|').tolist(), index=data.profit).stack().reset_index([0, 'profit'])

directors_df.columns = ['profit', 'director']
display(directors_df.groupby(['director'])['profit'].sum().sort_values(ascending=False))
answer_ls.append(5)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
                        ...
Peter Hyams           -86956545
Ron Underwood         -92896027
James L. Brooks       -96289726
Walter Hill          -128283462
Sngmoo Lee           -413912431
Name: profit, Length: 998, dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:
actors_df = pd.DataFrame(data.cast.str.split('|').tolist(), index=data.profit).stack().reset_index([0, 'profit'])

actors_df.columns = ['profit', 'actor']
display(actors_df.groupby(['actor'])['profit'].sum().sort_values(ascending=False))
answer_ls.append(1)

actor
Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
                         ...
Elisabeth Harnois     -111007242
Emilio EchevarrÃ­a    -119180039
Kate Bosworth         -369455668
Ti Lung               -413912431
Jang Dong-gun         -413912431
Name: profit, Length: 3408, dtype: int64

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [21]:
data_2012 = data[data.release_year == 2012]
actors_df = pd.DataFrame(data_2012.cast.str.split('|').tolist(), index=data_2012.profit).stack().reset_index([0, 'profit'])
actors_df.columns = ['profit', 'actor']
display(actors_df.groupby(['actor'])['profit'].sum().sort_values(ascending=True))
answer_ls.append(3)

actor
Kirsten Dunst         -68109207
Heidi Hawkins         -51893525
James Kidnie          -51893525
Timothy Spall         -51893525
Malin Ã…kerman        -43733509
                        ...
Robert Downey Jr.    1299557910
Mark Ruffalo         1299557910
Chris Evans          1299557910
Denis Leary          1319460639
Chris Hemsworth      1542450773
Name: profit, Length: 466, dtype: int64

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
actors_high_budget = data[data.budget > data.budget.mean()]
actors_df = pd.DataFrame(actors_high_budget.cast.str.split('|').tolist()).stack().to_numpy()
display(Counter(actors_df).most_common(1))
answer_ls.append(3)

[('Matt Damon', 18)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
cage_df = data[data.cast.str.contains("Nicolas Cage")]
display(pd.DataFrame(cage_df.genres.str.split('|').tolist()).stack().value_counts())
answer_ls.append(2)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Horror              1
Romance             1
War                 1
dtype: int64

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [24]:
production_companies = pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().reset_index()
production_companies.columns = ['level_0', 'level_1', 'company']
# production_companies.company = production_companies.company.map(lambda x: x.split(' ')[0])
display(production_companies.company.value_counts())
answer_ls.append(1)

Universal Pictures                           173
Warner Bros.                                 168
Paramount Pictures                           122
Columbia Pictures                            117
Twentieth Century Fox Film Corporation       109
                                            ...
Catfish Productions                            1
Blue Sea Productions                           1
Intertainment AG                               1
Midnight Sun Pictures                          1
Branded Entertainment/Batfilm Productions      1
Name: company, Length: 1772, dtype: int64

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
production_companies = pd.DataFrame(data[data.release_year == 2015].production_companies.str.split('|').tolist()).stack().reset_index()
production_companies.columns = ['level_0', 'level_1', 'company']
# production_companies.company = production_companies.company.map(lambda x: x.split(' ')[0])
display(production_companies.company.value_counts())
answer_ls.append(4)

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Columbia Pictures                          7
Paramount Pictures                         7
                                          ..
Wigram Productions                         1
OddLot Entertainment                       1
B24                                        1
Scott Rudin Productions                    1
Riche-Ludwig Productions                   1
Name: company, Length: 246, dtype: int64

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [26]:
comedies = data[data.genres.str.contains('Comedy')]
comedies_profit = pd.DataFrame(comedies.production_companies.str.split('|').tolist(), index=comedies.profit).stack().reset_index([0, 'profit'])
comedies_profit.columns = ['profit', 'company']
display(comedies_profit.groupby(['company'])['profit'].sum().sort_values(ascending=False))
answer_ls.append(2)

company
Universal Pictures                        8961545581
Walt Disney Pictures                      7669710326
Twentieth Century Fox Film Corporation    5686960294
Columbia Pictures                         5646343696
DreamWorks Animation                      4789049764
                                             ...
Warner Bros. Pictures                      -54738687
Shangri-La Entertainment                   -55170786
Dark Horse Entertainment                   -68351500
Road Rebel                                 -71331093
Mel's Cite du Cinema                       -92896027
Name: profit, Length: 702, dtype: int64

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [27]:
production_2012 = data[data.release_year == 2012]
production_2012_profit = pd.DataFrame(production_2012.production_companies.str.split('|').tolist(), index=production_2012.profit).stack().reset_index([0, 'profit'])
production_2012_profit.columns = ['profit', 'company']
display(production_2012_profit.groupby(['company'])['profit'].sum().sort_values(ascending=False))
answer_ls.append(3)

company
Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Warner Bros.          1258020056
Relativity Media      1032593938
                         ...
Jouror Productions     -51893525
Onyx Films             -51893525
Transfilm              -51893525
Studio 37              -51893525
France 2 CinÃ©ma       -82545651
Name: profit, Length: 236, dtype: int64

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [28]:
paramount_prodiction = data[data.production_companies.str.contains('Paramount Pictures')]
display(paramount_prodiction.loc[paramount_prodiction.profit.idxmin()])
answer_ls.append(1)

imdb_id                                                         tt0267626
popularity                                                        0.72233
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National G...
release_date                                                    7/19/2002
vote_count                                                            146
vote_average                                                            6
release_year                                                         2002
profit                                                          -64831034
Name: 926, dtype: object

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [29]:
display(pd.pivot_table(data, values='profit', index='release_year', aggfunc='sum').profit.sort_values(ascending=False))
answer_ls.append(5)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [30]:
warner_production = data[data.production_companies.str.contains('Warner Bros')]
display(pd.pivot_table(warner_production, values='profit', index='release_year', aggfunc='sum').profit.sort_values(ascending=False))
answer_ls.append(1)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [31]:
data['release_date_dt'] = pd.to_datetime(data.release_date, format='%m/%d/%Y')
data['release_month'] = data['release_date_dt'].dt.month
display(data.release_month.value_counts())
answer_ls.append(4)

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [32]:
display(len(data[data.release_month.isin([6, 7, 8])]))
answer_ls.append(2)

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [33]:
winter_production = data[data.release_month.isin([12, 1, 2])]
winter_production_profit = pd.DataFrame(winter_production.director.str.split('|').tolist(), index=winter_production.profit).stack().reset_index([0, 'profit'])
winter_production_profit.columns = ['profit', 'director']
display(Counter(winter_production_profit.director).most_common())

answer_ls.append(5)

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Shawn Levy', 4),
 ('Nancy Meyers', 4),
 ('Martin Scorsese', 4),
 ('Adam Shankman', 4),
 ('Ridley Scott', 3),
 ('Rob Marshall', 3),
 ('Tim Burton', 3),
 ('Steve Carr', 3),
 ('Patrick Lussier', 3),
 ('Donald Petrie', 3),
 ('Marc Lawrence', 3),
 ('Lasse HallstrÃ¶m', 3),
 ('Edward Zwick', 3),
 ('Jason Friedberg', 3),
 ('Aaron Seltzer', 3),
 ('Peter Farrelly', 3),
 ('Steven Spielberg', 3),
 ('Wayne Wang', 3),
 ('Quentin Tarantino', 2),
 ('Adam McKay', 2),
 ('Michael Mann', 2),
 ('Glenn Ficarra', 2),
 ('John Requa', 2),
 ('Pierre Morel', 2),
 ('Wes Anderson', 2),
 ('Paul Thomas Anderson', 2),
 ('Jaume Collet-Serra', 2),
 ('George Clooney', 2),
 ('Shana Feste', 2),
 ('Ken Kwapis', 2),
 ('Henry Selick', 2),
 ('P.J. Hogan', 2),
 ('David S. Goyer', 2),
 ('Paul McGuigan', 2),
 ('Marcus Nispel', 2),
 ('Andrzej Bartkowiak', 2),
 ('Scott Cooper', 2),
 ('Allen Hughes', 2),
 ('Garry Marshall', 2),
 ('David O. Russell', 2),
 ('James L. Brooks', 2),
 ('Brian Levant', 2),
 ('Martin Campbell', 2),
 ('Ron Howard', 2),
 ('Cameron Crowe', 2),
 ('Dennis Dugan', 2),
 ('Mark Waters', 2),
 ('Thomas Carter', 2),
 ('Bryan Singer', 2),
 ('Sylvester Stallone', 2),
 ('Jon M. Chu', 2),
 ('Gabriele Muccino', 2),
 ('Andy Tennant', 2),
 ('David Wain', 2),
 ('Brad Anderson', 2),
 ('Gregory Hoblit', 2),
 ('Simon West', 2),
 ('Bobby Farrelly', 2),
 ('Jason Reitman', 2),
 ('Joe Carnahan', 2),
 ('Stephen Daldry', 2),
 ('John Whitesell', 2),
 ('Spike Jonze', 2),
 ('Denzel Washington', 2),
 ('Mark Steven Johnson', 2),
 ('John Moore', 2),
 ('Walter Hill', 2),
 ('Brett Ratner', 2),
 ('Peter Segal', 2),
 ('Francis Lawrence', 2),
 ('Rob Reiner', 2),
 ('Wes Craven', 2),
 ('Mel Gibson', 2),
 ('Mike Nichols', 2),
 ('Joel Schumacher', 2),
 ('J.J. Abrams', 1),
 ('Alejandro GonzÃ¡lez IÃ±Ã¡rritu', 1),
 ('Lana Wachowski', 1),
 ('Lilly Wachowski', 1),
 ('Alex Garland', 1),
 ('Olivier Megaton', 1),
 ('Sam Taylor-Johnson', 1),
 ('Matthew Vaughn', 1),
 ('Ericson Core', 1),
 ('David Koepp', 1),
 ('Sean Anders', 1),
 ('Ari Sandel', 1),
 ('Jeremy Garelick', 1),
 ('Jason Moore', 1),
 ('Dean Israelite', 1),
 ('Paul Tibbitt', 1),
 ('Mike Binder', 1),
 ('Evan Goldberg', 1),
 ('Seth Rogen', 1),
 ('Phil Lord', 1),
 ('Christopher Miller', 1),
 ('Sergey Bodrov', 1),
 ('J.C. Chandor', 1),
 ('Tim Story', 1),
 ('Kenneth Branagh', 1),
 ('JosÃ© Padilha', 1),
 ('Rob Minkoff', 1),
 ('Angelina Jolie', 1),
 ('Ava DuVernay', 1),
 ('Paul W.S. Anderson', 1),
 ('Will Gluck', 1),
 ('Stuart Beattie', 1),
 ('Tom Gormican', 1),
 ('Akiva Goldsman', 1),
 ('Russell Crowe', 1),
 ('Steve Pink', 1),
 ('Christopher Spencer', 1),
 ('GrÃ©gory Levasseur', 1),
 ('Renny Harlin', 1),
 ('Rupert Wyatt', 1),
 ('Matt Bettinelli-Olpin', 1),
 ('Tyler Gillett', 1),
 ('James Cameron', 1),
 ('Patrick Tatopoulos', 1),
 ('Guy Ritchie', 1),
 ('Ron Clements', 1),
 ('John Musker', 1),
 ('Jim Sheridan', 1),
 ('Betty Thomas', 1),
 ('Gary Winick', 1),
 ('Michael Spierig', 1),
 ('Peter Spierig', 1),
 ('Antoine Fuqua', 1),
 ('Rajkumar Hirani', 1),
 ('NimrÃ³d Antal', 1),
 ('Tom Tykwer', 1),
 ('Thor Freudenthal', 1),
 ('Jonas Elmer', 1),
 ('Darren Aronofsky', 1),
 ('Joseph Kosinski', 1),
 ('Florian Henckel von Donnersmarck', 1),
 ('Ethan Coen', 1),
 ('Joel Coen', 1),
 ('Paul Weitz', 1),
 ('Chris Columbus', 1),
 ('Albert Hughes', 1),
 ('Anand Tucker', 1),
 ('Rob Letterman', 1),
 ('Roman Polanski', 1),
 ('Scott Stewart', 1),
 ('Kevin Smith', 1),
 ('Neil Marshall', 1),
 ('Roger Michell', 1),
 ('Michael Lembeck', 1),
 ('Breck Eisner', 1),
 ('Eric Brevig', 1),
 ('Tom Vaughan', 1),
 ('John Erick Dowdle', 1),
 ('Sngmoo Lee', 1),
 ('Joel Gallen', 1),
 ('John A. Davis', 1),
 ('Peter Howitt', 1),
 ('Jessie Nelson', 1),
 ('John Boorman', 1),
 ("Pat O'Connor", 1),
 ('Jesse Dylan', 1),
 ('Frank Darabont', 1),
 ('Demian Lichtenstein', 1),
 ('Francine McDougall', 1),
 ('Doug Liman', 1),
 ('Roland Emmerich', 1),
 ('Scott Derrickson', 1),
 ('Matt Reeves', 1),
 ('Peyton Reed', 1),
 ('David Frankel', 1),
 ('Anne Fletcher', 1),
 ('Iain Softley', 1),
 ('Lexi Alexander', 1),
 ('Pete Travis', 1),
 ('Martin McDonagh', 1),
 ('David Moreau', 1),
 ('Xavier Palud', 1),
 ('Frank Miller', 1),
 ('Sam Mendes', 1),
 ('Malcolm D. Lee', 1),
 ('Nicolas Winding Refn', 1),
 ('Brad Bird', 1),
 ('David Fincher', 1),
 ('Ivan Reitman', 1),
 ('D.J. Caruso', 1),
 ('Mark Neveldine', 1),
 ('Brian Taylor', 1),
 ('Mikael HÃ¥fstrÃ¶m', 1),
 ('Greg Mottola', 1),
 ('Dominic Sena', 1),
 ('Chris Gorak', 1),
 ('Christian E. Christiansen', 1),
 ('Michel Gondry', 1),
 ('Daniel Barnz', 1),
 ('Mike Mitchell', 1),
 ('Kelly Asbury', 1),
 ('Kevin Macdonald', 1),
 ('David Gordon Green', 1),
 ('Alister Grierson', 1),
 ('Benny Chan', 1),
 ('Phyllida Lloyd', 1),
 ('Lee Tamahori', 1),
 ('Rodrigo GarcÃ\xada', 1),
 ('Joel Zwick', 1),
 ('Andrew Davis', 1),
 ('Stuart Baird', 1),
 ('Kurt Wimmer', 1),
 ('Miguel Arteta', 1),
 ('Jim Gillespie', 1),
 ('Ron Shelton', 1),
 ('Nick Cassavetes', 1),
 ('Michael Rymer', 1),
 ('Robin Budd', 1),
 ('Donovan Cook', 1),
 ('Dewey Nicks', 1),
 ('Alexander Payne', 1),
 ('Mark Pellington', 1),
 ('Tamra Davis', 1),
 ('Tom Shadyac', 1),
 ('Charles Stone III', 1),
 ('MÃ¥ns MÃ¥rlind', 1),
 ('BjÃ¶rn Stein', 1),
 ('Christopher McQuarrie', 1),
 ('Michael Sucsy', 1),
 ('Brad Peyton', 1),
 ('Tom Hooper', 1),
 ('Kathryn Bigelow', 1),
 ('Josh Trank', 1),
 ('Mike McCoy', 1),
 ('Scott Waugh', 1),
 ('Baltasar KormÃ¡kur', 1),
 ('Judd Apatow', 1),
 ('James Watkins', 1),
 ('Daniel Espinosa', 1),
 ('Asger Leth', 1),
 ('Julie Anne Robinson', 1),
 ('Anthony Hemingway', 1),
 ('Andy Fickman', 1),
 ('Steve Trenbirth', 1),
 ('Todd Phillips', 1),
 ('David Dobkin', 1),
 ('John Woo', 1),
 ('David R. Ellis', 1),
 ('Anthony Minghella', 1),
 ('Ronald F. Maxwell', 1),
 ('Alan Parker', 1),
 ('Chris Koch', 1),
 ('Ben Stiller', 1),
 ('Jonathan Levine', 1),
 ('Tommy Wirkola', 1),
 ('Carl Rinsch', 1),
 ('Peter Berg', 1),
 ('Harmony Korine', 1),
 ('Taylor Hackford', 1),
 ('Ruben Fleischer', 1),
 ('Seth Gordon', 1),
 ('John Luessenhop', 1),
 ('Andy Muschietti', 1),
 ('Steven Brill', 1),
 ('Elizabeth Banks', 1),
 ('Rusty Cundieff', 1),
 ('James Duffy', 1),
 ('Griffin Dunne', 1),
 ('Patrik Forsberg', 1),
 ('James Gunn', 1),
 ('Will Graham', 1),
 ('Jonathan van Tulleken', 1),
 ('Callan Brunker', 1),
 ('Giuseppe Tornatore', 1),
 ('Jonathan Teplitzky', 1),
 ('Neil Nightingale', 1),
 ('Barry Cook', 1),
 ('Ric Roman Waugh', 1),
 ('John Wells', 1),
 ('Christopher B. Landon', 1),
 ('Ed Gass-Donnelly', 1),
 ('Justin Chadwick', 1),
 ('Andrew Adamson', 1),
 ('James McTeigue', 1),
 ('Garth Jennings', 1),
 ('Rob Bowman', 1),
 ('Cory Edwards', 1),
 ('Todd Edwards', 1),
 ('Tony Leech', 1),
 ('John Polson', 1),
 ('Frederik Du Chau', 1),
 ('Dean Parisot', 1),
 ('Louis Leterrier', 1),
 ('Jean-FranÃ§ois Richet', 1),
 ('Clare Kilner', 1),
 ('Geoffrey Sax', 1),
 ('Uwe Boll', 1),
 ('Stephen Kay', 1),
 ('Niki Caro', 1),
 ('Len Wiseman', 1),
 ('Frank Marshall', 1),
 ('James Wong', 1),
 ('Stefen Fangmeier', 1),
 ('Robert De Niro', 1),
 ("Matthew O'Callaghan", 1),
 ('McG', 1),
 ('Joe Roth', 1),
 ('Nick Hurran', 1),
 ('Bill Condon', 1),
 ('Chris Noonan', 1),
 ('Craig Brewer', 1),
 ('Richard Eyre', 1),
 ('Wayne Kramer', 1),
 ('Richard Loncraine', 1),
 ('Glen Morgan', 1),
 ('Justin Lin', 1),
 ('Eric Bress', 1),
 ('J. Mackye Gruber', 1),
 ('Jay Roach', 1),
 ('Brad Silberling', 1),
 ('Jeff Schaffer', 1),
 ('John Hamburg', 1),
 ('Philip Kaufman', 1),
 ('Sara Sugarman', 1),
 ('Guy Ferland', 1),
 ('Kevin Rodney Sullivan', 1),
 ('Joseph Kahn', 1),
 ("Gavin O'Connor", 1),
 ('Jay Chandrasekhar', 1),
 ('George Armitage', 1),
 ('Kevin Allen', 1),
 ('Jon Turteltaub', 1),
 ('GÃ¡bor CsupÃ³', 1),
 ('Tim Hill', 1),
 ('Chris Weitz', 1),
 ('Jon Avnet', 1),
 ('Mennan Yapo', 1),
 ('Dave Meyers', 1),
 ('Michael Winterbottom', 1),
 ('Brian Robbins', 1),
 ('Richard LaGravenese', 1),
 ('Jay Russell', 1),
 ('Jake Kasdan', 1),
 ('David Leland', 1),
 ('Peter Webber', 1),
 ('Tyler Perry', 1),
 ('Ben Garant', 1),
 ('Robert Zemeckis', 1),
 ('Mark Dindal', 1),
 ('David Twohy', 1),
 ('Ben Younger', 1),
 ('Sam Raimi', 1),
 ('Danny Leiner', 1),
 ('Jonathan Lynn', 1),
 ('Roger Donaldson', 1),
 ('Danny Boyle', 1),
 ('John Frankenheimer', 1),
 ('Gus Van Sant', 1),
 ('Jack Sholder', 1),
 ('Courtney Solomon', 1),
 ('Diane Keaton', 1)]

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [34]:
display(data.pivot_table(values='profit', aggfunc='sum', index='release_year', columns='release_month').idxmax(axis = 1).value_counts())

answer_ls.append(2)

6     7
12    4
5     4
7     1
dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [35]:
data['title_length'] = data.original_title.str.len()
title_length_df = pd.DataFrame(data.production_companies.str.split('|').tolist(), index=data.title_length).stack().reset_index([0, 'title_length'])
title_length_df.columns = ['title_length', 'company']
display(title_length_df.pivot_table(values='title_length', aggfunc='mean', index='company').title_length.sort_values(ascending=False))
answer_ls.append(5)

company
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_length, Length: 1772, dtype: float64

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
data['title_words'] = data.original_title.str.split().str.len()
title_size_df = pd.DataFrame(data.production_companies.str.split('|').tolist(), index=data.title_words).stack().reset_index([0, 'title_words'])
title_size_df.columns = ['title_words', 'company']
display(title_size_df.pivot_table(values='title_words', aggfunc='mean', index='company').title_words.sort_values(ascending=False))
answer_ls.append(5)

company
Four By Two Productions                  12.0
Jim Henson Company, The                  10.0
Polsky Films                              9.0
The Saul Zaentz Company                   9.0
Dos Corazones                             9.0
                                         ...
Many Rivers Productions                   1.0
Maple Shade Films                         1.0
Blue Productions                          1.0
Blue Sea Productions                      1.0
Great Wight Productions/ Osford Films     1.0
Name: title_words, Length: 1772, dtype: float64

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [37]:
words = np.concatenate(data.original_title.str.lower().str.split())
display(len(set(words)))
answer_ls.append(3)

2461

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [38]:
one_percent = len(data) / 100
display(data.sort_values(by='vote_average', ascending=False).head(int(one_percent)).original_title)
answer_ls.append(1)

600                                       The Dark Knight
125                                    The Imitation Game
9                                              Inside Out
118                                          Interstellar
34                                                   Room
1082        The Lord of the Rings: The Return of the King
873                                           The Pianist
1801                                              Memento
1192                                     12 Years a Slave
128                                             Gone Girl
138                              The Grand Budapest Hotel
119                               Guardians of the Galaxy
1184                              The Wolf of Wall Street
370                                             Inception
316                                              3 Idiots
1564                Eternal Sunshine of the Spotless Mind
497     The Lord of the Rings: The Fellowship of the Ring
28                                              Spotlight
Name: original_title, dtype: object

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [39]:
from itertools import combinations
actors_combinations = []
for row in data.cast:
    for doubles in combinations(row.split('|'), 2):
        actors_combinations.append(','.join(doubles))
display(Counter(actors_combinations).most_common(5))
answer_ls.append(5)

[('Daniel Radcliffe,Rupert Grint', 8),
 ('Daniel Radcliffe,Emma Watson', 8),
 ('Rupert Grint,Emma Watson', 7),
 ('Ben Stiller,Owen Wilson', 6),
 ('Johnny Depp,Helena Bonham Carter', 6)]

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [40]:
directors_df = pd.DataFrame(data.director.str.split('|').tolist(), index=data.profit).stack().reset_index([0, 'profit'])
directors_df.columns = ['profit', 'director']
directors_df['is_profitable'] = directors_df.profit.map(lambda x: x > 0)
directors_we_looking_for = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']
directors_summary = pd.pivot_table(directors_df[directors_df.director.isin(directors_we_looking_for)], index='director', columns='is_profitable', aggfunc='count', fill_value=0)
directors_summary['profitable_percent'] = directors_summary[('profit', True)]/(directors_summary[('profit', True)] + directors_summary[('profit', False)])
display(directors_summary.sort_values(by=['profitable_percent', ('profit', True)], ascending=False))
answer_ls.append(4)

                  profit      profitable_percent
is_profitable      False True
director
Christopher Nolan      0    8           1.000000
Quentin Tarantino      1    6           0.857143
Clint Eastwood         2   10           0.833333
Steven Soderbergh      3   10           0.769231
Robert Rodriguez       3    8           0.727273

# Submission

In [41]:
len(answer_ls)

36

In [42]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       3
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4